In [2]:
import numpy as np
import pandas as pd
import patsy

from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor

from pprint import pprint

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

import ast
import datetime as dt
from datetime import timedelta
#from datetime import now

#jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10 # Use this at the command line to expand rate limit!
# or the function prep_posts may not work properly.
plt.style.use('fivethirtyeight')

pd.set_option('display.max_columns', None) 
%matplotlib inline

In [3]:
# Loading the Centennial.txt data
cent = pd.read_csv('./Centennial.txt')

In [4]:
centennial = pd.DataFrame(cent)

In [10]:
len(centennial)

13540

In [5]:
centennial.head()

,icat,msc1,mdo1,yr,mon,Day,hr,Min,sec,glat,glon,dep,greg,ntel,mag1,Fract_Year
0,ABE,Ms,AN2,1900,1,5,19,0,0,-3.0,102.0,0,274,0,7.0,1900.01
1,ABE,Ms,AN2,1900,1,11,9,7,0,-5.0,148.0,0,192,0,7.0,1900.03
2,UTSU,Mj,UTSU,1900,1,18,7,46,0,44.5,148.5,35,221,0,6.7,1900.04
3,ABE,Mw,P&S,1900,1,20,6,33,0,20.0,-105.0,0,55,0,7.3,1900.05
4,UTSU,Mj,UTSU,1900,1,31,19,22,0,48.0,146.0,450,663,0,7.5,1900.08

In [6]:
# Loading the The Preliminary Determination of Epicenters (PDE) USGS data
pde = pd.read_csv('./EQ_pde.csv')

In [7]:
pde = pd.DataFrame(pde)

In [8]:
pde.head()

,Date,ZTime,net,Year,Month,FracYear,Secs_from1973,latitude,longitude,mag
0,01-01-1973,03:46:09,pde,1973,1,1973.076923,13569,-9.214,150.634,5.3
1,01-01-1973,05:22:29,pde,1973,1,1973.076923,19349,-15.012,-173.958,5.0
2,01-01-1973,09:28:57,pde,1973,1,1973.076923,34137,-22.161,-65.792,4.8
3,01-01-1973,21:35:58,pde,1973,1,1973.076923,77758,13.897,-44.876,4.4
4,01-01-1973,21:41:17,pde,1973,1,1973.076923,78077,13.743,-45.266,4.4

In [9]:
len(pde)

586409

In [12]:
# Loading the The USGS Earthquake catelog data
usgs = pd.read_csv('./RevCatAllM_1900-2016.txt')

In [13]:
usgs = pd.DataFrame(usgs)

In [14]:
len(usgs)

468582

In [15]:
usgs.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1987-12-31T23:50:17.520Z,-6.210000,131.410000,33.000,4.70,mb,NaN,NaN,NaN,1.200,us,usp0003bq0,2014-11-07T00:41:25.603Z,"Kepulauan Tanimbar, Indonesia",earthquake,NaN,NaN,NaN,6.0,reviewed,us,us
1,1987-12-31T23:22:09.880Z,37.630333,-121.896500,8.210,1.16,md,11.0,88.0,0.048650,0.060,nc,nc110428,2016-12-07T16:18:28.710Z,"San Francisco Bay area, California",earthquake,0.39,0.730,0.14,10.0,reviewed,nc,nc
2,1987-12-31T23:03:57.160Z,32.981000,-115.855000,5.139,NaN,NaN,0.0,190.1,NaN,0.079,ci,ci740053,2016-02-04T05:30:59.270Z,"23km WSW of Westmorland, CA",earthquake,NaN,0.551,NaN,NaN,reviewed,ci,ci
3,1987-12-31T23:00:03.980Z,38.806333,-122.796000,0.473,1.16,md,5.0,232.0,0.001802,0.020,nc,nc1154595,2016-12-07T16:18:24.866Z,Northern California,earthquake,1.00,0.530,0.37,6.0,reviewed,nc,nc
4,1987-12-31T22:45:03.560Z,36.715167,-120.731667,-0.467,1.52,md,11.0,248.0,0.072070,0.090,nc,nc110426,2016-12-07T16:18:20.723Z,Central California,earthquake,1.68,3.780,0.24,6.0,reviewed,nc,nc

In [19]:
# Loading the ISC Bullitin data
isc = pd.read_csv('./ISC_Rev_allM_1904_01-2014_09.txt')

ParserError: Error tokenizing data. C error: Expected 26 fields in line 14, saw 29

In [21]:
# Loading the ISSN_M_tot data
ISSN_M_tot = pd.read_csv('./ISSN_M_tot.csv')

In [22]:
ISSN_M_tot = pd.DataFrame(ISSN_M_tot)

In [23]:
len(ISSN_M_tot)

3193

In [24]:
ISSN_M_tot.head()

   1749  01  1749.049   58.0  1   -1.0  1.1
0  1749   2  1749.129   62.6  1   -1.0    1
1  1749   3  1749.210   70.0  1   -1.0    1
2  1749   4  1749.294   55.7  1   -1.0    1
3  1749   5  1749.377   85.0  1   -1.0    1
4  1749   6  1749.461   83.5  1   -1.0    1

In [25]:
# Loading the ISSN_D_tot data
ISSN_D_tot = pd.read_csv('./ISSN_D_tot.csv')

In [26]:
ISSN_D_tot = pd.DataFrame(ISSN_D_tot)

In [27]:
len(ISSN_D_tot)

72011

In [28]:
ISSN_D_tot.head()

   1818  01  01.1  1818.004   -1  1
0  1818   1     2  1818.007   -1  1
1  1818   1     3  1818.010   -1  1
2  1818   1     4  1818.012   -1  1
3  1818   1     5  1818.015   -1  1
4  1818   1     6  1818.018   -1  1

In [31]:
# Loading the ISSN_Y_tot data
ISSN_Y_tot = pd.read_csv('./ISSN_Y_tot.csv')

In [32]:
ISSN_Y_tot = pd.DataFrame(ISSN_Y_tot)

In [33]:
len(ISSN_Y_tot)

314

In [34]:
ISSN_Y_tot.head()

   1700.5    5.0  1
0  1701.5   11.0  1
1  1702.5   16.0  1
2  1703.5   23.0  1
3  1704.5   36.0  1
4  1705.5   58.0  1